body {
    font-family: sans-serif;
    background-color: #315481;
    background-image:
            radial-gradient(ellipse farthest-corner at 0 0, rgba(0,0,0,.2) 0%, rgba(62,45,177, .3) 50%,
            rgba(255,255,255,.3) 95%), linear-gradient(to bottom, #a7cbf9, #25da8e 100%);  background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
}
.main{
    position: relative;
    top:0;
    margin:10px;
}
.container {
    position: relative;
    width: 98%;
    margin: 0;
    bottom: 0;
    background: white;
}
header {
    background: #d2edf4 linear-gradient(to bottom, #d0edf5, #b4dbff 100%);
    padding: 20px 15px 15px 15px;
    line-height: 1;
    position: relative;
    top:0;
}
footer {
    background: #d2edf4;
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px 15px 15px;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    display: inline-block;
    margin: 0 1em 10px 0;
}
form {
    position: relative;
    margin-top: -10px;
    margin-bottom: 10px;
}
.new-message input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 5px 8px 5px;
    font-size: 1em;
}

.new-message input:focus{
    outline: 0;
}
.message-window {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background: white;
    overflow: scroll;
}

.message {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    background-color: transparent;
}

.username {
    font-weight: bold;
}

.time{
    margin-top: 10px;
    font-style: italic;
    font-size: 10pt;
    color: darkgrey;
}
.more-messages {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    width: 140px;
    height: 20px;
    margin-left: -70px;
    color: white;
    background-color: #ff5959;
    border-radius: 8px;
    border-style: none;
    opacity: .7;
    cursor: pointer;
}

.more-messages:focus {
    outline: none;
}
.no-chats{
    color: darkred;
    border: 1px solid darkred;
    background: #ff5959;
}

.chat-item{
    border: 1px solid black;
    font-size: 14pt;
    background: #eeeeee;
    position: relative;
}
.chat-name{
    color: #ff5959;
    font-style: italic;
    font-size: 15pt;
}
.last-message{
    color: black;
    font-size: 12pt;
}
.time-of-message{
    color: darkgrey;
    font-size: 10pt;
}
