<template name="chatsList">
    <header>
        <a name="brand" href={{pathFor 'chats'}}>METEOR CHAT APP</a>
        {{> loginButtons align='left'}}
    </header>
    {{#if currentUser}}
        <div class="container_search">
            <form class="search">
                <p><input type="text" name="search" placeholder="Search"></p>
            </form>
        </div>
        {{#if chatsListCount}}
            <div class="chatsList">
                {{#each chatsList}}
                    {{> chatItem}}
                {{/each}}
            </div>

        {{else}}
            <spun class="no-chats">You haven't chats, please create chats with search field and press Enter</spun>
        {{/if}}

    {{else}}
        <p>Please log in to messaging</p>
    {{/if}}


</template>
