<template name="messages">

        <header>
            <h1>Meteor Chat</h1>
            {{> loginButtons}}
            <button class="addToTelegram">Add to telegram</button>
        </header>
    <div class="container">
        <ul class="message-window">
            {{#each recentMessages}}
                {{> message}}
            {{/each}}
        </ul>
        {{#momentum plugin="fade"}}
            {{#if thereAreUnreadMessages}}
                <button class="more-messages">New Messages &#x25BE;</button>
            {{/if}}
        {{/momentum}}
    </div>
        <footer>
            {{#if currentUser}}
                <form class="new-message">
                    <input type="text" name="text" placeholder="Add a message" autocomplete="off" />
                </form>
            {{/if}}
        </footer>

</template>

